{% extends 'base.html.twig' %}

{% block title %}New Academie{% endblock %}

{% block body %}
    <h1>Create new Academie</h1>

    {{ include('academie/_form.html.twig') }}

    <a href="">back to list</a>
{% endblock %}
