{% extends 'base.reservationFront.html.twig'%}
{% block afficher %}

    {% for c in terrain %}
        <tr>

            <td>{{ c.id_terrain }} </td>

            <td>{{ c.type }} </td>
            <td>{{ c.chef }} </td>
            <td>{{ c.equipement }} </td>
{#          <td><button type="submit"class="btn-dark">RESERVER</button>#}
            </td>


        </tr>
    {% endfor %}
{% endblock %}