{% extends 'base.event.html.twig' %}

{% block title %}Edit TypeEvent{% endblock %}

{% block content %}
    <h1>Edit TypeEvent</h1>

    {{ include('type_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_event_index') }}">back to list</a>

{% endblock %}
