<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset ('front/signin/signin.css') }}" rel="stylesheet">

    <title>Document</title>
</head>
<body>
<div class="container">
    <form id="contact" action="" method="post">
        <h3>Quick Inscription</h3>
        <h4>Contact us today, and get reply with in 24 hours!</h4>

        {% block form %}

        {% endblock %}
    </form>


</div>
</body>
</html>